$default-font: "Myriad Pro", sans-serif;
$accent: #e35c42;
$text: #333;
$text-color: #47425d;
$text-color2: #8b879c;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 768px, md: 992px, lg: 1360px, xl: 1770px);
$container-max-widths: (sm: 720px, md: 960px, lg: 1300px, xl: 1770px);

$gutter: $grid-gutter-width;
